<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestTravelInsurance" thread-count="3" parallel="tests">
    <test name="EdgeTest">
        <parameter name="browser" value="Edge"/>
       <!--- <classes>
            <class name="com.cognizant.tests.TravelInsuranceTest"/>
        </classes>-->

        <!--- <classes>
            <class name="com.cognizant.tests.CarInsuranceTest"/>
        </classes>-->

        <classes>
            <class name="com.cognizant.tests.HealthInsuranceTest"/>
        </classes>
    </test>
<!--    <test name="ChromeTest">-->
<!--        <parameter name="browser" value="Chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.cognizant.tests.TestAlerts"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Firefox">-->
<!--        <parameter name="browser" value="Firefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.cognizant.tests.TestAlerts"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>