<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- policybazar.com test suite -->
<suite name="PolicyBazarTests" parallel="tests">

<!--&lt;!&ndash;    Google Chrome tests configurations&ndash;&gt;-->
<!--    <parameter name="browser" value="chrome" />-->
    <parameter name="platform" value="Windows 10" />
    <parameter name="environment" value="local" />
    <test name="ChromeTest">
        <packages>
            <package name="com.cognizant.tests" />
        </packages>
    </test>

<!--&lt;!&ndash;    Microsoft Edge Browser tests configurations&ndash;&gt;-->
<!--    <parameter name="browser" value="edge" />-->
<!--    <parameter name="platform" value="Windows 10" />-->
<!--    <parameter name="environment" value="remote" />-->
<!--    <test name="EdgeTest">-->
<!--        <packages>-->
<!--            <package name="com.cognizant.tests" />-->
<!--        </packages>-->
<!--    </test>-->

<!--    Firefox Browser Tests configurations-->
<!--    <parameter name="browser" value="firefox" />-->
<!--    <parameter name="platform" value="Windows 10" />-->
<!--    <parameter name="environment" value="local" />-->
<!--    <test name="Firefox">-->
<!--        <packages>-->
<!--            <package name="com.cognizant.tests" />-->
<!--        </packages>-->
<!--    </test>-->

<!--    Listener class configurations-->
    <listeners>
        <listener class-name="com.cognizant.tests.listeners.TestListener" />
    </listeners>
</suite>